@use './variables' as v;

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: v.$branco;
  text-align: center;

  h1 {
    font-size: 3rem;
    color: v.$amarelo;
  }

  p {
    font-size: 1.5rem;
  }
}