@use './variables' as v;
@use 'sass:math';

.scattered-ticket {
  position: fixed;
  width: 500px;
  height: 350px;
  opacity: 0.15 !important;
  transition: opacity 0.3s ease-in-out;
  will-change: transform, opacity;
  pointer-events: none;
  z-index: 1;
  animation: pulse 8s infinite ease-in-out;
  transform-origin: center;
  transform: rotate(var(--rotation));
  
  // Garantir que os tickets não saiam da viewport
  &:hover {
    opacity: 0.25 !important;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1) rotate(var(--rotation));
  }
  50% {
    transform: scale(1.08) rotate(var(--rotation));
  }
  100% {
    transform: scale(1) rotate(var(--rotation));
  }
}