@use './variables' as v;
@use 'sass:math';

.scattered-ticket {
  position: absolute;
  width: 500px; // Mantido
  height: 350px; // Mantido
  opacity: 0.15 !important;
  transition: opacity 0.3s ease-in-out;
  will-change: opacity;
  pointer-events: none;
  // ALTERAÇÃO: Alterado z-index para 1 para ficar acima do fundo do .app, mas atrás do conteúdo
  z-index: 1; // Fica entre o fundo (.app) e o conteúdo (header, main, footer)
  animation: pulse 8s infinite ease-in-out;
  transform-origin: center;
  top: clamp(0%, var(--top), 100%); // Mantém tickets dentro da viewport
  left: clamp(0%, var(--left), 100%);
}

@keyframes pulse {
  0% {
    transform: scale(1) rotate(var(--rotation));
  }
  50% {
    transform: scale(1.08) rotate(var(--rotation));
  }
  100% {
    transform: scale(1) rotate(var(--rotation));
  }
}